@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASPNETCore .NET 6.0 (OCP v4.1 IL2)</h1>
    <p>Run on Developers.RedHat.com, OCP v4.10, IL2 ASP.NET Core 6.0</a>.</p>
</div>
